<ion-header>
  <ion-navbar>
    <ion-title>{{pubquiz.rounds[round].title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-label color="primary">Q: {{pubquiz.rounds[round].questions[question].question}}</ion-label>
  <ion-label color="primary">A: {{pubquiz.rounds[round].questions[question].answer}}</ion-label>
  ({{playerAnswer[question]}})

  <ion-grid>
    <ion-row *ngFor="let answer of answers[question]">
      <ion-col><button ion-button (click)="setApproval(answer.userId,true)">V</button></ion-col>
      <ion-col>{{answer.text}}<span *ngIf="!answer.approve"> (WRONG)</span></ion-col>
      <ion-col><button ion-button (click)="setApproval(answer.userId,false)">X</button></ion-col>
    </ion-row>
  </ion-grid>

  <button ion-button (click)="previousQuestion()" [disabled]="question <= 0">&lt;</button>
  <button ion-button (click)="nextQuestion()"     [disabled]="question >= pubquiz.rounds[round].questions.length-1">&gt;</button>
  <button ion-button (click)="submitRound()"      [disabled]="question !== pubquiz.rounds[round].questions.length-1">Submit</button>
</ion-content>
