<ion-header>
  <ion-navbar>
    <ion-title>{{pubquiz.rounds[round].title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-label color="primary">{{pubquiz.rounds[round].questions[question].question}}</ion-label>
  <ion-input type="text" [(ngModel)]="answer[question]" placeholder="answer here"></ion-input>

  <button ion-button (click)="previousQuestion()" *ngIf="question > 0">&lt;</button>
  <button ion-button (click)="nextQuestion()" *ngIf="question < pubquiz.rounds[round].questions.length-1">&gt;</button>
  <button ion-button (click)="submitRound()" *ngIf="question === pubquiz.rounds[round].questions.length-1">Submit answers of current round</button>
</ion-content>
